[Unit]
Description=Minecraft Server (kirppu)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=300
TimeoutStopSec=120
Restart=always
ExecStartPre=-/usr/bin/docker stop -t 90 %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStart=/usr/bin/docker run --rm \
    --memory 1400m --memory-swap 1400m \
    --name %N \
    --publish 25565:25565 \
    -v /srv/%N:/data \
    %N:local
ExecStartPost=/bin/sh -eu -c 'until test "$$(/usr/bin/docker inspect -f '{{.State.Health.Status}}' %N)" = healthy; do sleep 5; done'
ExecStop=/usr/bin/docker stop -t 90 %N
ExecStop=/usr/bin/docker rm %N

[Install]
WantedBy=default.target
